body {
     font-family: 'Roboto Condensed', sans-serif;
     padding: 3% 10%;
     max-width: 1600px;
     min-width: 600px;
     margin: 0 auto;
}

a {
     text-decoration: none;
     color: black;
}

* {
     box-sizing: border-box;
}